<app-home-page></app-home-page>
<div class="wrapper main-wrapper container main-box main-box-education">
  <div style="border: 1px solid black; background-color: #faf7f5;">
    <div class="first-line">
      <div class="white-box-education-1">
        <p class="education-text"><b>2018-now</b></p>
        <p>Bachelor‘s degree <br>
          Electronics and computer technology <br>
          Ivan Franko National University of Lviv</p>
      </div>
      <div class="white-box-education-2">
        <p class="education-text"><b>2019-2020</b></p>
        <p>English course of Upper-intermediate <br>
          GreenForest</p>
      </div>
      <div class="white-box-education-3">
        <p class="education-text"><b>2020</b></p>
        <p>Self education </p>
        <ul style="padding-left: 16px">
          <li>Online courses</li>
          <li>Video lessons</li>
          <li>Documentation</li>
        </ul>
      </div>
    </div>
    <div class="second-line">
      <div class="white-box-education-4">
        <p class="education-text"><b>2020</b></p>
        <p>Web developer course <br>
          Logos IT Academy</p>
      </div>
      <div class="white-box-education-5"></div>
      <div class="white-box-education-6"></div>
    </div>
  </div>
</div>
<app-footer></app-footer>
