.footer {
  width: 100%;
  background: rgb(205,163,152);
  background: linear-gradient(90deg, rgba(205,163,152,1) 0%, rgba(205,163,152,1) 50%, rgba(205,163,152,1) 100%);
  color: white;
  height: 50px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 10px;
}
