.main-box{
  height: 500px;
  background-color: white;
  border: 1px solid black;
  -webkit-box-shadow: 0 0 10px 0 #e7e7e7;
  -moz-box-shadow: 0 0 10px 0 #e7e7e7;
  box-shadow: 0 0 10px 0 #e7e7e7;
  padding: 20px;
}
.wrapper {
  max-width: 930px;
  margin: 0 auto;
  border: 1px solid black;
  align-items: center;
}
.container{
  height: 100%;
  border: 1px solid black;
}
.white-box-projects-1,
.white-box-projects-2,
.white-box-projects-3{
  height: 217px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px 0 #e7e7e7;
  -moz-box-shadow: 0 0 10px 0 #e7e7e7;
  box-shadow: 0 0 10px 0 #e7e7e7;
}
.white-box-projects-4,
.white-box-projects-5,
.white-box-projects-6{
  height: 197px;
}
.white-box-projects-1,
.white-box-projects-2,
.white-box-projects-3,
.white-box-projects-4,
.white-box-projects-5,
.white-box-projects-6{
  width: 31.5%;
  float: left;
  margin-bottom: 20px;
}

.main-wrapper{
  margin-bottom: 50px;
}
.first-line,
.second-line{
  display: flex;
  justify-content: space-between;
  margin-left: 1px;
}

.logo-header {
  max-width: 260px;
  height: 210px;
  line-height: 40px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-family: league-gothic, sans-serif;
  font-weight: 400;
  margin : auto;
  font-style: normal;
  font-size: 48px;
  text-transform: uppercase;
  margin-top: 3px;
  padding-top: 70px;
  border-radius: 15px;
  text-align: center;
  background-color: rgb(205,163,152);
}
a{
  text-decoration: none;
}
.purple {
  color: #745083;
  font-size: 48px;
  font-weight: 400;
}
.logo{
  color: #f794ef;
  font-family: 'Playfair Display', serif;
  font-size: 1em;
  padding: 20px 0;
  font-weight: bolder;
}

