<app-home-page></app-home-page>
<div class="wrapper main-wrapper container main-box main-box-projects">
  <div style="border: 1px solid black; background-color: #faf7f5;">
    <div class="first-line f-l-projects">
      <div class="white-box-projects-1">
        <a href="https://github.com/julkaa/Final.HTML-SCC" title="HTML-SCC" target="_blank" rel="noopener" >
          <div class="logo-header"><span class="pingbuller" id="pingbuller">PINGBULL<span class="purple">ER</span></span></div>
        </a>
      </div>
      <div class="white-box-projects-2">
        <a href="https://github.com/julkaa/angular-nodeJS" title="Angular-NodeJS" target="_blank" rel="noopener" >
          <div class="logo-header"><span style="color: black">Hello</span></div>
        </a>
      </div>
      <div class="white-box-projects-3"><a href="https://github.com/julkaa/JS-project" title="HTML-SCC-JS" target="_blank" rel="noopener" >
        <div class="logo-header"><span class="logo" id="logo">Navbar</span></div>
      </a></div>
    </div>
    <div class="second-line second-line-projects">
      <div class="white-box-projects-4"></div>
      <div class="white-box-projects-5"></div>
      <div class="white-box-projects-6"></div>
    </div>
  </div>
</div>
<app-footer></app-footer>
