<app-home-page></app-home-page>
<div class="wrapper main-wrapper container main-box main-box-info">
  <div style="border: 1px solid black; background-color: #faf7f5;">
    <div class="first-line f-l-info">
      <div class="white-box-info-1">
        <p class="info-text"><b>Habbits</b></p>
        <p>-8 years of playing the piano and singing in the choir<br>
          -3 years of archering <br>
          -6 months of swimming</p>
      </div>
      <div class="white-box-info-2">
        <p class="info-text"><b>Work</b></p>
        <p>6 months of 2020 <br>
          Tabacco consultant <br>
          Marvel-ITG <br>
          -communication with people <br>
          -sales skills</p>
      </div>
      <div class="white-box-info-3"></div>
    </div>
    <div class="second-line s-l-info">
      <div class="white-box-info-4"></div>
      <div class="white-box-info-5"></div>
      <div class="white-box-info-6"></div>
    </div>
  </div>
</div>
<app-footer></app-footer>
