.main-box{
  height: 500px;
  background-color: white;
  border: 1px solid black;
  -webkit-box-shadow: 0 0 10px 0 #e7e7e7;
  -moz-box-shadow: 0 0 10px 0 #e7e7e7;
  box-shadow: 0 0 10px 0 #e7e7e7;
  padding: 20px;
}
.wrapper {
  max-width: 930px;
  margin: 0 auto;
  border: 1px solid black;
  align-items: center;
}
.container{
  height: 100%;
  border: 1px solid black;
}

.white-box-info-4,
.white-box-info-5,
.white-box-info-6{
  height: 184px;
}
.white-box-info-1,
.white-box-info-2,
.white-box-info-3,
.white-box-info-4,
.white-box-info-5,
.white-box-info-6{
  width: 31.5%;
  float: left;
  padding: 23px;
  margin-bottom: 20px;
}
.white-box-info-1,
.white-box-info-2{
  height: 230px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px 0 #e7e7e7;
  -moz-box-shadow: 0 0 10px 0 #e7e7e7;
  box-shadow: 0 0 10px 0 #e7e7e7;
}
.main-wrapper{
  margin-bottom: 50px;
}
.info-text{
  text-align: center;
}
.white-box-info-1,
.white-box-info-2,
.white-box-info-4 {
  margin-right: 16px;
}
.info-text:hover{
  color: #125699;
  cursor: context-menu;
}
.first-line,
.second-line{
  display: flex;
  margin-left: 1px;
  justify-content: space-between;
}
.second-line{
  width: 98%;
}
