<app-home-page></app-home-page>
<div class="wrapper main-wrapper container main-box">
  <div style="border: 1px solid black; background-color: #faf7f5;">
    <div class="first-line">
      <div class="skill-1">
        <p class="skill-text"><b>Frontend</b></p>
        <ul  type="none" style="margin-left: -40px">
          <li>HTML5, CSS, SCSS, Bootsrap4</li>
          <li>Javascript, ES6, jQuery, OOP, Angular 10, Typescript</li>
        </ul>
      </div>
      <div class="skill-2">
        <p class="skill-text"><b>DB</b></p>
        <ul  type="none" style="margin-left: -40px">
          <li>MySQL</li>
          <li>SQL</li>
        </ul>
      </div>
      <div class="skill-3">
        <p class="skill-text"><b>Backend</b></p>
        <ul  type="none" style="margin-left: -40px">
          <li>Basic NodeJS</li>
          <li>Express</li>
          <li>RestApi</li>
        </ul>
      </div>
    </div>
    <div class="second-line second-line-skill">
      <div class="skill-4">
        <p class="skill-text"><b>Tools</b></p>
        <ul  type="none" style="margin-left: -40px">
          <li>Photoshop</li>
          <li>Git</li>
          <li>Github</li>
        </ul>
      </div>
      <div class="skill-5">
        <p class="skill-text"><b>Language skills</b></p>
        <ul  type="none" style="margin-left: -40px">
          <li>Ukraine - Native</li>
          <li>English - Upper-intermediate</li>
          <li>Russian - Fluent</li>
        </ul>
      </div>
      <div class="skill-6">
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
