.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 250px;
  background: rgb(205,163,152);
  background: linear-gradient(90deg, rgba(205,163,152,1) 0%, rgba(205,163,152,1) 50%, rgba(205,163,152,1) 100%);
  font-weight: 600;
  font-size: large;
}
.typingLine{
  margin-top: 13px;
  font-weight: 500;
}
.wrapper {
  max-width: 930px;
  margin: 0 auto;
  align-items: center;
}
.header{
  color: white;
  height: 100px;
  margin-top: 70px;
  padding: 0 15px;
}
.top-box{
  height: 322px;
  width: 100%;
  background-color: white;
  float: left;
  -webkit-box-shadow: 0 0 10px 0 #e7e7e7;
  -moz-box-shadow: 0 0 10px 0 #e7e7e7;
  box-shadow: 0 0 10px 0 #e7e7e7;
  justify-content: center;
}
.image-box{
  float: left;
}
.nav-div{
  margin-top: 495px;
}
.bio-box{
  padding-top: 40px;
  float: left;
  height: 100%;
}
.lighter-text{
  font-weight: lighter;
}
ul {
  list-style: none;
}
.bio-box a {
  text-decoration: none;
  color: #333;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}
.icon-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 25px;
  margin-top: 16px;
}
.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}
.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}

.main-box{
  height: 500px;
  background-color: white;
  border: 1px solid black;
  -webkit-box-shadow: 0 0 10px 0 #e7e7e7;
  -moz-box-shadow: 0 0 10px 0 #e7e7e7;
  box-shadow: 0 0 10px 0 #e7e7e7;
  padding: 30px;
  margin-bottom: 35px;
}
.home
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  min-height: 74px;
  min-width: 204px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
  color: black;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}
a,
a:visited,
a:hover {
  text-decoration: none;
}

a:hover {
  color: #125699;
}
.container{
  height: 100%;
  position: relative;
  border: 1px solid black;
}
.photo_jk{
  height:322px;
  width:320px;
  background-size: cover;
}
